*.o # So we're not constantly uploading binaries
*.out # So we're not constantly uploading binaries
.ycm_extra_conf* # For Greg's benefit, mostly
*.png # Images
*.jpg
*.txt
*vgcore* # Valgrind binaries
